/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: 2em auto 3em;
}

nav {
  padding-top: 1px;
  background-color: black;
  color: white;
  height: auto;
  text-decoration: none;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-family: "Roboto Slab", serif;
}
