/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,500;0,600;0,700;1,700&family=Kaisei+HarunoUmi:wght@500&family=Oswald:wght@300&family=Roboto+Slab&display=swap");
/*external stylesheets*/
@import "nav.css";

:root {
  --background: #222831;
  --foreground: #393e46;
  --text: #eeeeee;
  --accent: #00adb5;
}

html,
body {
  font-family: "Faustina", serif;
  height: 100%;
  margin: 0;
  background-color: var(--background);
  color: var(--text);
}

/*revert chrome default css*/
p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

body {
  display: grid;
  grid-template-rows: 5vh auto 5vh;
}

/* footer */
footer {
  width: 100%;
  background-color: var(--foreground);
  text-align: center;
  font-family: "Roboto Slab", serif;
  display: grid;
  place-items: center;
}

#content {
  display: grid;
  grid-template-rows: auto auto auto auto;
}

.card {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  column-gap: 1em;
}

#skill {
  display: grid;
  grid-template-columns: auto auto auto;
}

#projects {
  display: grid;
}

.heading {
  grid-column-start: 1;
  grid-column-end: 5;
  text-decoration: underline;
  font-size: 2em;
}

.heading2 {
  grid-column-start: 1;
  grid-column-end: 5;
  font-size: 1.5em;
}

#skills p {
  font-size: 1.5em;
  text-align: center;
}

@media only screen and (max-width: 1064px) {
  .card {
    padding-bottom: 2em;
  }

  #projects {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
  }

  #skill {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }

  .heading {
    grid-column-start: 1;
    grid-column-end: 1;
    text-align: center;
  }
}
